/*-- scss:defaults --*/
$uni-blue: #00457D;

$navbar-bg: $uni-blue;
/* $font-family-sans-serif: Lustria; */
$nav-tabs-link-active-color: white;


#languages-button {
    background-color: #00457D;
    border-color: #00457D;
    color: white;
}
